body {
    padding: 40px;
    background-color: #F6F1F1;
}

h3 {
  text-align: center;
  margin-top: 10em;
}

.search {
  top: 60%;
  left: 50%;
  width: 50em;
  margin-top: -9em;
  margin-left: -18em;
  position: fixed;
}


#search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

#search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #19A7CE;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
  
label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}      /* Styling for the search box */



      /* Styling for the popup box */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

/* Styling for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/* Styling for the popup box contents */

.popup input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
      

.popup button[type="submit"], .popup button[type="button"] {
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button[type="button"] {
  background-color: #19A7CE;
  margin-right: 10px;
}
